# intermediate files
.*.swp
*~
*.out
*.tar.gz
*.deb
.libs
callgrind.out.*

# built objects
*.o
*.gc??
*.lo
*.la
docs
coverage

# autotools
*.in
config.h
config.log
config.status
configure
configure.scan
autoscan.log
autom4te.cache
aclocal.m4
.deps
stamp-h1
Makefile
libtool
build/autotools/*.m4
!build/autotools/as-compiler-flag.m4
!build/autotools/cdoc.m4
!build/autotools/gcov.m4

########################################
libctest.so*
test/run

t/00-asserts.t
t/01-fail
t/02-skip.t
t/03-todo.t
t/04-bail
t/05-premature
t/06-output
t/07-stack
t/08-printf
