# intermediate files
.*.swp
*~
*.out
*.tar.gz
*.deb
.libs
callgrind.out.*

# debian packaging files
*.substvars
*.debhelper
*.debhelper.log
debian/files
debian/libctap-dev/
debian/libctap/
debian/tmp/

# built objects
*.o
*.gc??
*.lo
*.la
docs
coverage
src/ctap.pc
#
t/asserts
t/skip
t/todo
t/*.aux
t/*.trs
t/*.log
test-suite.log

# autotools
*.in
!src/ctap.pc.in
config.h
config.log
config.status
configure
configure.scan
autoscan.log
autom4te.cache
aclocal.m4
.deps
stamp-h1
.dirstamp
Makefile
build/*
!build/as-compiler-flag.m4
!build/cdoc.m4
!build/coverage.m4
