Source: ctap
Standards-Version: 3.9.5
Maintainer: James Hunt <james@jameshunt.us>
Section: devel
Priority: optional
Homepage: http://github.com/filefrog/ctap
Build-Depends: debhelper (>= 8.0.0)

Package: ctap
Architecture: all
Depends: ${misc:Depends}
Description: Test Anything Protocol for C
 ctap is an easy way to get Perl-style TAP testing convenience in C. It
 ships as a single header file that contains functions and macros for doing
 things like assertions, skip/todo blocks and dynamic evaluation.
